.wrapper{
    position: relative;
    width: 1150px;
    margin:0px auto;    
}
 .pull-left{
    float:left;
}
.pull-right{
    float:right;
}
.clear{
    clear:both;
}
.row{
    
 }
[class^="col-"] {
    /* position: relative; */
    float: left;
    /* border:1px solid black; */
    margin:0px;
    height: 30px;
    box-sizing: border-box;
}
.pull-right{
    float:right;
}
.col-1 {
    width: calc(100%/12*1 - 20px);
}
.col-2 {    
    width: calc(100%/12*2 - 20px);
}
.col-3 {
    width: calc(100%/12*3 - 20px);
}
.col-4 {
    width: calc(100%/12*4 - 10px);
}
.col-5 {
    width: calc(100%/12*5 - 20px);
}
.col-6 {
    width: calc(100%/12*6 - 20px);
}
.col-7 {
    width: calc(100%/12*7 - 20px);
}
.col-8 {
    width: calc(100%/12*8 - 20px);
}
.col-9 {
    width: calc(100%/12*9 - 20px);
}
.col-10 {
    width: calc(100%/12*10 - 20px);
}
.col-11 {
    width: calc(100%/12*11 - 20px);
}
.col-12 {
    width: calc(100%/12*12 - 20px);
} 